.dark-medium-contrast {
    --md-sys-color-primary: rgb(150 234 241);
    --md-sys-color-surface-tint: rgb(128 212 218);
    --md-sys-color-on-primary: rgb(0 43 45);
    --md-sys-color-primary-container: rgb(71 157 163);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(198 225 227);
    --md-sys-color-on-secondary: rgb(16 41 43);
    --md-sys-color-secondary-container: rgb(123 149 151);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(205 221 255);
    --md-sys-color-on-tertiary: rgb(21 38 65);
    --md-sys-color-tertiary-container: rgb(129 145 178);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(14 20 21);
    --md-sys-color-on-background: rgb(221 228 228);
    --md-sys-color-surface: rgb(14 20 21);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(63 72 73);
    --md-sys-color-on-surface-variant: rgb(212 222 223);
    --md-sys-color-outline: rgb(170 180 180);
    --md-sys-color-outline-variant: rgb(136 146 147);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(221 228 228);
    --md-sys-color-inverse-on-surface: rgb(37 43 44);
    --md-sys-color-inverse-primary: rgb(0 80 85);
    --md-sys-color-primary-fixed: rgb(156 240 247);
    --md-sys-color-on-primary-fixed: rgb(0 20 22);
    --md-sys-color-primary-fixed-dim: rgb(128 212 218);
    --md-sys-color-on-primary-fixed-variant: rgb(0 61 64);
    --md-sys-color-secondary-fixed: rgb(204 232 234);
    --md-sys-color-on-secondary-fixed: rgb(0 20 22);
    --md-sys-color-secondary-fixed-dim: rgb(177 203 206);
    --md-sys-color-on-secondary-fixed-variant: rgb(33 58 60);
    --md-sys-color-tertiary-fixed: rgb(214 227 255);
    --md-sys-color-on-tertiary-fixed: rgb(0 17 43);
    --md-sys-color-tertiary-fixed-dim: rgb(182 199 234);
    --md-sys-color-on-tertiary-fixed-variant: rgb(38 54 82);
    --md-sys-color-surface-dim: rgb(14 20 21);
    --md-sys-color-surface-bright: rgb(63 70 70);
    --md-sys-color-surface-container-lowest: rgb(4 8 9);
    --md-sys-color-surface-container-low: rgb(24 31 31);
    --md-sys-color-surface-container: rgb(35 41 41);
    --md-sys-color-surface-container-high: rgb(45 52 52);
    --md-sys-color-surface-container-highest: rgb(56 63 63);
}
