@use '!src/themes.scss';

.card {
    width: 18.5em;
    height: 18em;
    background-color: var(--md-sys-color-surface-container-high);
    text-wrap: wrap;
    border-radius: 0.5em;
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    overflow: hidden;
    text-decoration: none;
    padding-bottom: 10px;
    box-shadow: 0px 0.1px 1px 0px var(--md-sys-color-shadow);

    transition:
        filter 0.1s,
        box-shadow 0.05s;
}

.card > *:not(.media) {
    padding-left: 20px;
    padding-right: 20px;
}
.media {
    height: 50%;
    border-radius: 0.5em;
}

.card > * {
    width: 100%;
    color: var(--md-sys-color-on-surface);
}

.card .header {
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 575;
}

.card .content {
    height: fit-content;
    width: 100%;
    font-size: 12pt;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 11pt;
}

.card:hover {
    filter: brightness(90%);
    box-shadow: 0px 1px 1px var(--md-sys-color-shadow);
}

.card:active {
    filter: brightness(90%);
}
