@use '!src/themes.scss';
.scrollOverflow {
    overflow: scroll;
}

.codeblock {
    background: var(--md-sys-color-surface-container-highest);
    border-bottom: 1px solid var(--md-sys-color-outline);
    padding-left: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow-y: auto;
    height: 15em;
    scrollbar-width: auto; /* or thin */
    scrollbar-color: #888 #f1f1f1;
}

.statsBox {
    display: flex;
    flex-direction: row;
}
.statsBox > * {
    padding: 10px 10px 5px 20px;
    display: block;
    width: 100%;
}

.statsBox .title {
    font-size: 14pt;
    font-weight: 550;
}

.statsBox .statName {
    font-weight: 450;
}
