@use '!src/themes.scss';

.title {
    background-color: var(--md-sys-color-surface-container-high);
    border: 1px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface-variant);
    border-radius: 0.5em;
    font-size: 14pt;
    padding: 5px;
    padding-left: 10px;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    vertical-align: middle;
}

.title:hover {
    filter: brightness(95%);
}

.content {
    border: 0px solid var(--md-sys-color-outline-variant);
    color: var(--md-sys-color-on-surface-variant);
    width: 99%;
    max-height: 0px;
    border-radius: 0.5em;
    overflow: hidden;
    font-size: 0pt;
    transition:
        max-height 0.1s,
        font-size 0.1s,
        border 0.1s;
}

.content.active {
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 0px;
    height: fit-content;
    max-height: 540px;
    font-size: 12pt;
    padding-left: 10px;
    border: 1px solid var(--md-sys-color-outline-variant);
    background-color: var(--md-sys-color-surface-container-high);
}
.content:not(.active) {
    margin: 0px;
    padding: 0px;
}

.content.active * {
    opacity: 100%;
    transition: opacity 0.05s;
}

.content:not(.active) * {
    opacity: 0%;
}

.svgArrow {
    fill: var(--md-sys-color-on-secondary-container);
    transition: transform 0.1s;
    padding-bottom: -5px;
}

.svgArrow.active {
    transform: rotate(180deg);
}
