@use './themes.scss';

iframe {
    border: none;
    border-radius: 0.5em;
}

.scrollable {
    &::-webkit-scrollbar {
        width: 15px;
    }

    &::-webkit-scrollbar-track {
        background-color: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--md-sys-color-outline);
        border-radius: 5em;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        background-clip: content-box;
    }
    &::-webkit-scrollbar-thumb:hover {
        border-left: 3px solid transparent;
        border-right: 4px solid transparent;
    }

    &::-webkit-scrollbar:hover {
        background-color: var(--md-sys-color-outline-variant);
    }
}

.scrollable.xScroll {
    overflow-x: auto;
}

.scrollable.yScroll {
    overflow-y: auto;
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, 0);
    width: 0px;
}

#root {
    width: 100vw;
    height: 100vh;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface-container-lowest);
}

:root * {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

a {
    transition: color 0.1s;
    color: var(--md-sys-color-secondary);
    text-decoration-color: var(--md-sys-color-secondary);
}

a:visited {
    color: var(--md-sys-color-tertiary);
    text-decoration-color: var(--md-sys-color-tertiary);
}

a:hover {
    color: var(--md-sys-color-primary);
    text-decoration-color: var(--md-sys-color-primary);
}

a:hover {
    color: var(--md-sys-color-primary);
    text-decoration-color: var(--md-sys-color-on-surface-variant);
}

hr {
    border: 1px solid var(--md-sys-color-outline-variant);
}

a.navDest {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 0.5em;
    margin-top: 5px;
    color: var(--md-sys-color-on-surface);
    transition:
        color 0.1s,
        background-color 0.1s,
        filter 0.1s;
}

a.navDest:hover {
    background-color: var(--md-sys-color-surface-bright);
    color: var(--md-sys-color-on-surface-variant);
}

a.navDest:active {
    filter: brightness(90%);
}

a.navDest.active {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.namePlate {
    font-size: 16pt;
    position: relative;
    width: fit-content;
    margin-left: auto;
}

.emptyDiv {
    grid-area: empty;
    width: 100%;
    height: 100%;
}
.svgIcon {
    fill: var(--md-sys-color-on-surface-variant);
}

.backButton {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.backButton:hover {
    background: darkred;
    border-radius: 0.5em;
    filter: brightness(80%);
}

.path {
    margin: auto;
}

.project-titlebar {
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin: 10px;
}
.project-titlebar > .title {
    flex-grow: 1;
    height: fit-content;
    font-size: 18pt;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.pageGrid {
    display: grid;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: fit-content(100%) 1fr;
    grid-template-areas:
        'empty titlebar'
        'navbar content';
}

.contentBox {
    grid-area: content;
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 0.75em 0em 0em 0em;
    width: 100%;
    height: 100%;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr fit-content(100%) 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'leftcol main rightcol';
}

.widget {
    position: absolute;
    min-width: 100px;
    width: 150px;
    height: fit-content;
    padding: 10px;
    border-radius: 0.5em;
    margin-top: 8px;
    background-color: var(--md-sys-color-surface-container);
    font-size: 13pt;
}

.widget * {
    user-select: none;
}

ul {
    padding-left: 20px;
}

ul.nobullets {
    list-style-type: none;
}

a.hidedecos {
    text-decoration: none;
}

.widget.shortcutBox li {
    border-bottom: 0px solid rgba(0, 0, 0, 0);
    transition:
        border-bottom 0.1s,
        color 0.1s,
        background-color 0.1s;
    padding: 2px;
    padding-left: 5px;
    border-radius: 0.25em;
    cursor: pointer;
}

.widget.shortcutBox li a {
    display: block;
    width: 100%;

    color: var(--md-sys-color-on-surface-variant);
}

.widget.shortcutBox li:hover {
    background-color: var(--md-sys-color-surface-container-high);
}

.widget.shortcutBox li:active {
    background-color: var(--md-sys-color-surface-container-highest);
}

.widget.shortcutBox li:has(a.active) {
    background-color: var(--md-sys-color-surface-container-high);
    border-bottom: 1px solid var(--md-sys-color-primary);
    color: var(--md-sys-color-primary);
}

.widget.leftanchor {
    left: 5px;
}

.widget.rightanchor {
    right: 5px;
}

.widget.verticalcenter {
    top: 15%;
    bottom: 85%;
}

.leftcol {
    position: relative;
    grid-area: leftcol;
}

.rightcol {
    position: relative;
    grid-area: rightcol;
}

.content {
    grid-area: main;
    min-width: 400px;
    max-width: 1200px;
    width: 1000px;
    position: relative;
    overflow: auto;
    height: calc(100% - 16px);
    max-height: fit-content;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0.25em;
    scroll-behavior: smooth;
    background-color: var(--md-sys-color-surface-container);
    color: var(--md-sys-color-on-surface-variant);
}

.titleBar {
    grid-area: titlebar;
}

.navRail {
    grid-area: navbar;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navRail > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navSection * {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
}

.yt-embed {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    height: fit-content;
    border-radius: 1em;
}

.yt-embed > * {
    border-radius: 1em;
}
.quicknotes-container {
    background: var(--md-sys-color-secondary-container);
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 95%;
    border-radius: 0.37em;
    padding: 20px;
}
.quicknotes {
    height: fit-content;
    padding: 5px;
    column-count: 2;
    column-fill: balance;
    column-gap: 20px;
    color: var(--md-sys-color-on-secondary-container);
}

.quicknotes > ul {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-position: inside;
    padding: 2px;
    list-style-type: disc;
}
.quicknotes li {
    padding: 1px;
}

.quicknotes > ul .note {
    width: 99%;
    font-size: 14pt;
    break-inside: avoid;
}

.quicknotes-container > .title {
    width: 100%;
    padding-left: 10px;
    font-size: 15pt;
    margin-bottom: 5px;
    align-content: center;
    color: var(--md-sys-color-on-secondary-container);
}

table {
    font-size: 13pt;
    width: 100%;
    background-color: var(--md-sys-color-surface-container-high);
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 0.25em;
    padding-top: 15px;
    padding-bottom: 15px;
}

th {
    padding: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

td {
    padding: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--md-sys-color-outline-variant);
}

tr.lastrow td {
    border-bottom: 0px;
}

tr {
    width: 3em;
}

td.label {
    width: 300px;
}

button {
    border-radius: 0.5em;
    font-size: 12pt;
    padding: 7.5px;
    box-shadow: none;
    border: none;
    transition: filter 0.1s;
    cursor: pointer;
}

.contactMeButton {
    background-color: var(--md-sys-color-primary-container);
    color: var(--md-sys-color-on-primary-container);
}

button:hover {
    filter: brightness(80%);
}

button:active {
    filter: brightness(75%);
}

.paragraph {
    display: block;
    margin: 15px;
    width: calc(100% - 30px);
    font-size: 13pt;
}
.reddit-embed > * {
    left: 50%;
    right: 50%;
    position: relative;
    transform: translate(-50%);
}

.diagram {
    border-radius: 0.5em;
    height: fit-content;
    width: calc(100% - 30px);
    border: 1px solid var(--md-sys-color-outline);
    background-color: rgba(222, 222, 230, 255);
    margin: 15px;
}

.diagram > * {
    width: 100%;
}

.heading1 {
    font-size: 20pt;
    width: fit-content;
    display: block;
}
.heading {
    margin: 15px;
    margin-left: 20px;
}

.errorContainerOverride {
    background-color: var(--md-sys-color-error-container) !important;
}

.errorContainerOverride * {
    color: var(--md-sys-color-on-error-container) !important;
}
