#root {
    width:100vw; 
    height:100vh;
}

body {
    width:100vw; height:100vh;
    padding:0px; margin:0px;
}

.navRail {
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:70px;
    background-color: grey;
    height:100%
}

.navRail > * {
    margin-left:auto;
    margin-right:auto;
    margin-top:30px;
    margin-bottom:30px;
}
