@use './themes.scss';

#root {
    width: 100vw;
    height: 100vh;
}

:root * {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    color: var(--md-sys-color-on-surface);
    background-color: var(--md-sys-color-surface-container-lowest);
}

hr {
    border: 0.1px solid var(--md-sys-color-outline-variant);
}

.navDest {
    display: block;
    text-decoration: none;
    padding: 5px 10px 5px 10px;
    border-radius: 0.5em;
    margin-top: 5px;
}

.navDest:hover {
    background-color: var(--md-sys-color-surface-bright);
    color: var(--md-sys-color-on-surface-variant);
}

.navDest.active {
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-on-secondary-container);
}

.namePlate {
    font-size: 16pt;
    position: relative;
    width: fit-content;
    margin-left: auto;
}

.emptyDiv {
    grid-area: empty;
    width: 100%;
    height: 100%;
}
.svgIcon {
    fill: var(--md-sys-color-on-surface-variant);
}

.backButton {
    cursor: pointer;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    padding-left: 5px;
    padding-right: 5px;
}
.backButton:hover {
    background: darkred;
    border-radius: 0.5em;
    filter: brightness(80%);
}

.path {
    margin: auto;
}

.project-titlebar {
    height: fit-content;
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    margin: 10px;
}
.project-titlebar > .title {
    flex-grow: 1;
    height: fit-content;
    font-size: 18pt;
    padding-left: 10px;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    padding: 5px;
}

.pageGrid {
    display: grid;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: fit-content(100%) 1fr;
    grid-template-areas:
        'empty titlebar'
        'navbar content';
}

.contentBox {
    grid-area: content;
    overflow: scroll;
    background-color: var(--md-sys-color-surface-container-low);
    border-radius: 0.75em 0em 0em 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.content {
    width: 1000px;
    min-width: 400px;
    max-width: 1200px;
    height: 100%;
}

.titleBar {
    grid-area: titlebar;
}

.navRail {
    grid-area: navbar;
    font-size: 14pt;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.navRail > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.navSection * {
    text-decoration: none;
    color: var(--md-sys-color-on-surface);
}

.cardContainer {
    height: fit-content;
    min-height: calc(100% - 16px);
    background: var(--md-sys-color-surface-container);
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 8px;
    margin-bottom: 8px;
    border-radius: 0.25em;
    color: var(--md-sys-color-on-surface-variant);
}

.yt-embed {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    height: fit-content;
    border-radius: 1em;
}

.yt-embed > * {
    border-radius: 1em;
}
.quicknotes-container {
    background: var(--md-sys-color-secondary-container);
    margin: 5px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 95%;
    border-radius: 0.37em;
    padding: 20px;
}
.quicknotes {
    height: fit-content;
    padding: 5px;
    column-count: 2;
    column-fill: balance;
    column-gap: 20px;
    color: var(--md-sys-color-on-secondary-container);
}

.quicknotes > ul {
    margin-left: auto;
    margin-right: auto;
    padding-right: 0px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    list-style-position: inside;
    padding: 2px;
    list-style-type: disc;
}
.quicknotes li {
    padding: 1px;
}

.quicknotes > ul .note {
    width: 99%;
    font-size: 14pt;
    break-inside: avoid;
}

.quicknotes-container > .title {
    width: 100%;
    padding-left: 10px;
    font-size: 15pt;
    margin-bottom: 5px;
    align-content: center;
    color: var(--md-sys-color-on-secondary-container);
}
