#root {
    width: 100vw;
    height: 100vh;
}

body {
    width: 100vw;
    height: 100vh;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navDest {
    display: block;
    text-decoration: none;
}

.navDest.active {
    background-color: black;
}

.pageGrid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 11fr;
    grid-template-rows: fit-content 1fr;
    grid-template-areas:'titlebar titlebar'
    'navbar content'
    ;
}

.namePlate { 
    font-size: 16pt;
    position:absolute;
    width:fit-content;
}

.contentBox {
    grid-area: content;
}

.content {
    width:100%;
    height:100%;
    display:flex;
}

.titleBar {
    grid-area: titleBar;
}

.navRail {
    grid-area: navbar;
    font-size: 14pt;
    color:black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: grey;
}

.navRail > * {
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}
